body {
    background: white !important;
    font-size: 11px;
    font-family: Roboto, sans-serif;
}

:root {
    --tab-page-background: #f2f2f2
}

p {
    margin: 0 !important;
}

@page {
    margin: 0;
}
div.ag-root {
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
    }

.document-form-style-default input:not(.ag-input-field-input):not(.v-select__slot input){
    border-bottom: 0.5px solid #ccc;
    border-radius: 0;
    height: 25px;
    background: transparent;
    box-shadow: none;
    padding: 0 5px;
}
.document-form-style-custom-1 input:not(.ag-input-field-input){
    border: 1px solid #e9ecef;
    padding: 4px 6px;
    min-height: 30px;
    border-radius: 3px;
    background: transparent;
    color: var(--symper-text-color-default) !important;

}
.wrap-content-submit .s-control-file-upload{
    height: 100px !important;
    border: none !important;
    width: 500px !important;
}

.sym-form-submit .s-control-tracking-value,
.sym-form-submit .s-control-approval-history,
.sym-form-submit .s-control-report,
.sym-form-submit .s-control-file-upload,
.sym-form-submit .s-control-reset,
.sym-form-submit .s-control-draf,
.sym-form-submit .s-control-submit,
.sym-form-submit .s-control-text,
.sym-form-submit .s-control-select,
.sym-form-submit .s-control-document,
.sym-form-submit .s-control-phone,
.sym-form-submit .s-control-email,
.sym-form-submit .s-control-currency,
.sym-form-submit .s-control-radio,
.sym-form-submit .s-control-color,
.sym-form-submit .s-control-percent,
.sym-form-submit .s-control-hidden,
.sym-form-submit .s-control-user,
.sym-form-submit .s-control-filter,
.sym-form-submit .s-control-date,
.sym-form-submit .s-control-datetime,
.sym-form-submit .s-control-month,
.sym-form-submit .s-control-time,
.sym-form-submit .s-control-number 
.wrap-content-detail .s-control-tracking-value,
.wrap-content-detail .s-control-approval-history,
.wrap-content-detail .s-control-report,
.wrap-content-detail .s-control-reset,
.wrap-content-detail .s-control-draf,
.wrap-content-detail .s-control-submit,
.wrap-content-detail .s-control-text,
.wrap-content-detail .s-control-select,
.wrap-content-detail .s-control-document,
.wrap-content-detail .s-control-phone,
.wrap-content-detail .s-control-email,
.wrap-content-detail .s-control-currency,
.wrap-content-detail .s-control-radio,
.wrap-content-detail .s-control-color,
.wrap-content-detail .s-control-percent,
.wrap-content-detail .s-control-hidden,
.wrap-content-detail .s-control-user,
.wrap-content-detail .s-control-filter,
.wrap-content-detail .s-control-date,
.wrap-content-detail .s-control-datetime,
.wrap-content-detail .s-control-month,
.wrap-content-detail .s-control-time,
.wrap-content-detail .s-control-number 
{
    width: auto;
    height: 25px;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    padding: 0 5px;
    outline: 0!important;
}

.sym-form-submit .s-control:not(.s-control-table):not(button):not(.page-item), 
.wrap-content-detail .s-control:not(.s-control-table):not(button):not(.page-item):not(.s-control-file-upload)
{
    display: inline-block;
    /* background: rgb(233, 236, 239); */
    min-width: 50px;
    outline: none !important;
    margin: 1px
}

.s-control .s-control-rich-text {
    border: none;
}

.sym-form-submit .s-control-reset,
.sym-form-submit .s-control-draft,
.sym-form-submit .s-control-submit, 
.wrap-content-detail .s-control-reset,
.wrap-content-detail .s-control-draft,
.wrap-content-detail .s-control-submit
{
    padding: 5px 8px;
}

.sym-form-submit .s-control-checkbox,
.wrap-content-detail .s-control-checkbox 
{
    min-width: unset !important;
    height: unset !important;
}

.sym-form-submit .s-control-user,
.sym-form-submit .s-control-select,
.sym-form-submit .s-control-document, 
.wrap-content-detail .s-control-user,
.wrap-content-detail .s-control-select,
.wrap-content-detail .s-control-document 
{
    width: 120px;
}

.sym-form-submit .s-control-error {
    border: 1px solid red !important;
}

.sym-form-submit .s-control-label,
.wrap-content-detail .s-control-label
 {
    font-size: 11px;
    color: gray;
    border: 1px solid #e9ecef;
    padding: 4px 8px 4px 7px;
    border-radius: 4px;
    background: white;
}

.sym-form-submit .s-control-table, 
.wrap-content-detail .s-control-table 
{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 11px;
}

.sym-form-submit .error {
    background: red;
}

.highlight-history {
    background: #FFFF00 !important;
    opacity: 0.27;
}

.s-control-data-flow {
    border-left: 1px solid rgb(230, 230, 230);
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}
.s-control-rich-text{
    padding: 2px 5px;
    font-weight: normal; 
    min-height: 25px;
}
.s-control:not(.s-control-tab-page):not(.s-control-rich-text):not(.s-control-image):not(.page-item):not(.s-control-approval-history):not(.s-control-label):not(.s-control-submit):not(.s-control-draft):not(.s-control-reset):not(.s-control-file-upload):not(.s-control-table):not(.s-control-data-flow):not(.s-control-panel) {
    padding: 0 5px;
    background: transparent;
    box-shadow: none;
    border-bottom: 0.5px solid #ccc;
    border-radius: 0;
    font-weight: normal;
    height: 25px;
}

.s-control-label {
    background: transparent;
    border-radius: 0;
    font-weight: normal;
}

.s-control.s-control-panel {
    overflow-x: auto!important;
    position: relative;
    min-height: 20px;
    max-height: 550px;
    margin-bottom: 20px;
    border-radius: 5px !important;
    background: #fff;
    box-shadow: 0 3px 5px #aaa !important;
    overflow-y: auto !important;
}

.s-control:not(.detail-view):not(button):focus {
    background: rgb(233, 236, 239) !important;
}

input.s-control:not(.s-control-panel):not(.detail-view):hover {
    background: rgb(233, 236, 239) !important;
}

input.s-control {
    color: blue;
}


.s-control-image {
    position: relative;
}

.s-control-image .mdi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrap-s-control-table {
    display: contents;
}

.s-control-approval-history {
    width: 100% !important;
    background: white;
    margin-top: 12px;
}

.s-control-approval-history .approved-item {
    height: 25px;
    line-height: 20px;
}

.ht_clone_top th {
    font-weight: 500;
}

.handsontable th.beforeHiddenColumn:after {
    display: none;
}

.run-dataflow {
    display: block;
    position: absolute;
    font-size: 19px;
    right: 6px;
    top: 4px;
    width: 30px;
    color: #409eff;
    background: rgba(0 0 0 / 0.05);
    border-radius: 4px;
    transition: background ease-in-out 250ms;
    -webkit-transition: background ease-in-out 250ms;
    -moz-transition: background ease-in-out 250ms;
    -ms-transition: background ease-in-out 250ms;
    -o-transition: background ease-in-out 250ms;
}

.run-dataflow:focus {
    outline: none;
}

.run-dataflow:hover {
    background: rgba(0 0 0 / 0.1);
}


/* 
.ht_master .wtHolder::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.ht_master .wtHolder::-webkit-scrollbar-track {
    background: #fff;
}

.ht_master .wtHolder::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
} */


/* .ht_clone_bottom.handsontable {
    bottom: 6px !important;
}

.ht_clone_bottom_left_corner.handsontable {
    bottom: 6px !important;
} */


/* Style the buttons inside the tab */

.tab button {
    background: transparent;
    float: left;
    border: none;
    outline: none;
    padding: 0px 10px;
    transition: 0.3s;
    font-size: 13px;
    height: 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
}

.tab button:focus {
    background: white !important;
}

button {
    cursor: pointer;
}


/* Change background color of buttons on hover */

button:hover {
    background: rgba(0 0 0 / 0.1) !important;
}

.page-content-header {
    display: flex;
    padding-top: 6px;
    background: var(--tab-page-background);
}

.tab-active {
    background: white !important;
}

.tabcontent {
    display: none;
    height: 100%;
    cursor: text;
}

.tabcontent:focus {
    outline: none;
}

.content-active {
    display: block !important;
}

.add-tab-btn {
    border: none;
    margin: 0 8px;
    border-radius: 4px;
    padding: 0 10px;
    height: 25px;
    transition: all ease-in-out 250ms;
}

.page-content-body {
    height: calc(100% - 30px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.page-header-action button {
    height: 25px;
    width: 100%;
    border: none;
    background: var(--tab-page-background);
    transition: all ease-in-out 250ms;
    margin-top: 6px;
    display: none;
}

.collapse-sidebar-btn {
    margin-top: auto;
    border: none;
    background: transparent;
    height: 25px;
}

.collapse-sidebar-btn span {
    display: inline-block;
}

.collapse-sidebar-btn:focus {
    outline: none;
}

.rotate-180 {
    transform: rotate(180deg);
}

.sidebar-page {
    background: var(--tab-page-background);
    height: auto;
    width: 150px;
    position: relative;
    transition: all ease-in-out 250ms;
    display: flex;
    flex-flow: column;
}

.page-content {
    height: 100%;
    width: 100%;
    display: none;
}

.list-page-content {
    height: 100%;
    width: 100%;
    background: white;
}

.list-page {
    height: calc(100% - 35px);
    padding: 6px;
    font-size: 13px;
}

.page-item {
    padding: 5px 4px;
    border-radius: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all ease-in-out 150ms;
}

.add-page-btn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sb-page-active {
    background: #077afe;
    color: white;
}

.page-active {
    display: block !important;
}

.collapse-sb {
    width: 30px;
}

.collapse-sb .list-page {
    padding: 6px 0.5px;
}

.collapse-sb .page-item {
    text-align: center;
}

.d-none {
    display: none;
}

.page-header-action {
    opacity: 0;
    user-select: none;
}

.add-tab-btn {
    display: none;
}

.table-print {
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 16px;
}

.table-print td {
    border: 1px solid #ddd;
    padding: 3px;
}

.table-print th {
    padding: 3px;
    text-align: left;
    border: 1px solid #ddd;
}

.content-print-document .s-control {
    border: none !important;
}

.sym-form-submit .add-subform-btn {
    position: absolute;
    right: 4px;
    top: 5px;
    cursor: pointer;
}

.trace-input-control {
    background: rgb(255 128 3 / 0.5) !important;
}

.trace-output-control {
    background: rgb(64 129 55 / 0.5) !important;
}

.trace-current-control {
    background: rgb(7 96 217 / 0.5) !important;
}

.s-control-data-flow {
    display: inline-block;
    font-size: 11px;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.info-control-btn {
    color: #e67e23 !important;
    text-decoration-line: underline;
    background: #fff3e9 !important;
}

.s-control.s-control-image {
    background: #f2f2f2;
    border-radius: 4px;
}

.sym-form-submit .ag-theme-balham .ag-cell-wrapper>*:not(.ag-cell-value):not(.ag-group-value),
.sym-form-Detail .ag-theme-balham .ag-cell-wrapper>*:not(.ag-cell-value):not(.ag-group-value) {
    height: 22px !important;
}
.sym-form-submit .ag-theme-balham .ag-layout-auto-height .ag-center-cols-clipper ,
.sym-form-Detail .ag-theme-balham .ag-layout-auto-height .ag-center-cols-clipper  {
    min-height: 24px !important;
}

.sym-form-submit .ag-theme-balham .ag-cell,
.sym-form-Detail .ag-theme-balham .ag-cell {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.sym-form-submit .ag-theme-balham .ag-ltr .ag-header-select-all,
.sym-form-Detail .ag-theme-balham .ag-ltr .ag-header-select-all {
    margin-left: 29px;
}
.sym-form-submit .ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell,
.sym-form-Detail .ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.sym-form-submit .ag-theme-balham .ag-cell-wrapper,
.sym-form-Detail .ag-theme-balham .ag-cell-wrapper {
    font-size: 12px;
}
.sym-form-submit .ag-body-horizontal-scroll,
.sym-form-Detail .ag-body-horizontal-scroll {
    bottom: 0;
    opacity: 0.5;
    position: absolute;
}
.sym-form-submit .ag-floating-bottom,
.sym-form-Detail .ag-floating-bottom {
    overflow: hidden !important;
}
.sym-form-submit .ag-input-field-input {
    border: none !important;
    padding: 0 !important;
}
.sym-form-submit .ag-input-field-input:focus {
    outline: none !important;
    box-shadow:none !important;
}
.sym-form-submit .ag-theme-balham .ag-cell-wrapper>.ag-group-value,
.sym-form-Detail .ag-theme-balham .ag-cell-wrapper>.ag-group-value {
    font-family: "Roboto", sans-serif;
}

.sym-form-submit .ag-theme-balham .ag-cell-wrapper>*:not(.ag-cell-value):not(.ag-group-value) .ag-icon-tree-closed,
.sym-form-submit .ag-theme-balham .ag-cell-wrapper>*:not(.ag-cell-value):not(.ag-group-value) .ag-icon-tree-open,
.sym-form-Detail .ag-theme-balham .ag-cell-wrapper>*:not(.ag-cell-value):not(.ag-group-value) .ag-icon-tree-closed,
.sym-form-Detail .ag-theme-balham .ag-cell-wrapper>*:not(.ag-cell-value):not(.ag-group-value) .ag-icon-tree-open {
    margin-top: 0px;
    font-size: 13px;
}
.sym-form-submit .ag-theme-balham .ag-header,
.sym-form-Detail .ag-theme-balham .ag-header {
    background: white !important;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}
.sym-form-submit .ag-theme-balham .ag-cell-wrap-text,
.sym-form-Detail .ag-theme-balham .ag-cell-wrap-text {
    font-size: 12px!important;
}
.sym-form-submit .ag-theme-balham .ag-header .ag-header-row,
.sym-form-Detail .ag-theme-balham .ag-header .ag-header-row {
    color: #212529 !important;
    font-weight: 500;
}
.sym-form-submit .ag-theme-balham .ag-row:not(.ag-row-group-expanded):not(.ag-row-selected),
.sym-form-Detail .ag-theme-balham .ag-row:not(.ag-row-group-expanded):not(.ag-row-selected) {
    background: white !important;
}
.sym-form-submit .ag-row.ag-row-group.ag-row-group-expanded,
.sym-form-Detail .ag-row.ag-row-group.ag-row-group-expanded{
    background: rgba(0,0,0,0.05);
}
.sym-form-submit .ag-theme-balham .ag-cell,
.sym-form-Detail .ag-theme-balham .ag-cell {
    line-height: 22px !important;
}
.sym-form-submit .ag-theme-balham .ag-cell-inline-editing,
.sym-form-Detail .ag-theme-balham .ag-cell-inline-editing{
    height: 100% !important;
}
.sym-form-submit .blueFont{
    color: blue;
}
.sym-form-submit .redFont{
    color:red;
}

.ag-pivot-action {
    position: absolute;
    top: 0px;
    left: 25px;
    padding: 4px 6px;
    margin: 1px;
    background: var(--symper-background-default);
    border: 4px;
    opacity: 0.6;
    z-index: 1;
}
.group-table .ag-pivot-action{
    left: 1px !important;
}
.dropdown {
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50px;
    z-index: 2;
    top: 4px;
}

.dropdown-content a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .ag-pivot-action {
    background: var(--symper-background-hover);
}

.input-pivot {
    position: fixed;
    height: 24px;
    display: none;
    padding: 0 8px;
    background: var(--symper-background-default);
}

.input-pivot:focus {
    outline: none;
}

.swap-table-btn {
    border: 4px;
    opacity: 0.6;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 24px;
    width: 24px;
    z-index: 200;
    font-size: 18px;
    background: var(--symper-background-default);
}

.swap-table-btn:focus {
    outline: none;
}

.sym-form-submit div:not(.ag-cell):not(.ps__thumb-x):empty,
.sym-form-Detail div:not(.ag-cell):not(.ps__thumb-x):empty {
    height: 12px;
}

.icon-trace-table {
    position: absolute;
    right: -8px;
    top: 0;
    z-index: 200;
    padding: 2px 16px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
}
.icon-wrap-table{
    position: absolute;
    right: 16px;
    top: -3px;
    z-index: 200;
    padding: 2px 16px;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;   
}

.sym-form-Detail .s-control-file-upload{
    border: var(--symper-border);
    width: 400px;
}
.sym-form-Detail .upload-file-wrapper-outtb{
    padding-left: 8px;
}

.sym-form-Detail .upload-file-wrapper-outtb .list-file .file-item{
    display: flex;
    cursor: pointer;
}
.sym-form-Detail .upload-file-wrapper-outtb .list-file .file-item__name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 100px);
}
.sym-form-Detail .upload-file-wrapper-outtb .list-file .file-item__name,
.sym-form-Detail .upload-file-wrapper-outtb .list-file .file-item__size
{
    padding: 3px 6px;
}
.sym-form-Detail .upload-file-wrapper-outtb .list-file .file-item__size{
    margin-left: auto;
}

.ag-input-time{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.ag-input-date{
    display: inline-block;
    width: 100%;
    height: 100%;
}


.select-table-bottom{
    margin: 0 -6px;
}
.select-table-bottom select {
    position: relative;
    padding: 0 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}
.select-table-bottom select option{
    padding: 4px 6px;
}
.select-table-bottom select:focus{
    outline: none;
}


.approval-tab {
    overflow: hidden;
    border: var(--symper-border);
    background-color: #ffffff;
    font-size: 12px;
  }
  
  /* Style the buttons inside the tab */
  .approval-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    transition: 0.3s;
  }
   
  /* Change background color of buttons on hover */
  .approval-tab button:hover {
    background-color: var(--symper-background-hover);
  }
  
  /* Create an active/current approval-tablink class */
  .approval-tab button.active {
    background-color: var(--symper-background-active);
  }
  
  /* Style the approval-tab content */
  .approval-tabcontent {
    display: none;
    padding: 6px 12px;
    border: var(--symper-border);
    border-top: none;
    max-height: 500px;
  }
  .tab-content-active{
      display: block !important;
  }

  .cell-wrap {
    white-space: normal !important;
  }