body {
    background: white !important;
    font-size: 11px;
    font-family: Roboto, sans-serif;
}

p {
    margin: 0 !important;
}

@page {
    margin: 0;
}

.sym-form-submit .s-control-tracking-value,
.sym-form-submit .s-control-approval-history,
.sym-form-submit .s-control-report,
.sym-form-submit .s-control-file-upload,
.sym-form-submit .s-control-reset,
.sym-form-submit .s-control-draf,
.sym-form-submit .s-control-submit,
.sym-form-submit .s-control-text,
.sym-form-submit .s-control-select,
.sym-form-submit .s-control-document,
.sym-form-submit .s-control-phone,
.sym-form-submit .s-control-email,
.sym-form-submit .s-control-currency,
.sym-form-submit .s-control-radio,
.sym-form-submit .s-control-color,
.sym-form-submit .s-control-percent,
.sym-form-submit .s-control-hidden,
.sym-form-submit .s-control-user,
.sym-form-submit .s-control-filter,
.sym-form-submit .s-control-date,
.sym-form-submit .s-control-datetime,
.sym-form-submit .s-control-month,
.sym-form-submit .s-control-time,
.sym-form-submit .s-control-number {
    width: auto;
    height: 25px;
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid #e9ecef;
    font-family: Roboto, sans-serif;
    color: gray;
    padding: 0 5px;
    outline: 0!important;
}

.sym-form-submit .s-control:not(.s-control-table) {
    display: inline-block;
    /* background: rgb(233, 236, 239); */
    min-width: 50px;
    outline: none !important;
    margin: 1px
}

.sym-form-submit .s-control-reset,
.sym-form-submit .s-control-draft,
.sym-form-submit .s-control-submit {
    padding: 5px 8px;
}

.sym-form-submit .s-control-user,
.sym-form-submit .s-control-select,
.sym-form-submit .s-control-document {
    width: 120px;
}

.sym-form-submit .s-control-error {
    border: 1px solid red !important;
}

.sym-form-submit .s-control-label {
    font-size: 11px;
    color: gray;
    border: 1px solid #e9ecef;
    padding: 4px 8px 4px 7px;
    border-radius: 4px;
}

.sym-form-submit .s-control-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 11px;
}

.s-control:not(.s-control-label):not(.s-control-submit):not(.s-control-draft):not(.s-control-reset):not(.s-control-file-upload):not(.s-control-table):not(.s-control-panel) {
    /*width: 100% !important;*/
    padding: 0 5px !important;
    background: transparent;
    box-shadow: none !important;
    /*border: none !important;*/
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 0.5px solid #ccc !important;
    border-radius: 0 !important;
    font-weight: normal;
}

.s-control-label {
    background: transparent;
    box-shadow: none !important;
    /*border: none !important;*/
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 0.5px solid #ccc;
    border-radius: 0 !important;
    font-weight: normal;
}

.s-control.s-control-panel {
    overflow-x: auto!important;
    position: relative;
    min-height: 20px;
    max-height: 550px;
    margin-bottom: 20px;
    border-radius: 5px !important;
    background: #fff;
    box-shadow: 0 3px 5px #aaa !important;
    overflow-y: auto !important;
}

.s-control:not(.detail-view):focus {
    background: rgb(233, 236, 239) !important;
}

input.s-control:not(.s-control-panel):not(.detail-view):hover {
    background: rgb(233, 236, 239) !important;
}

.handsontable td,
.handsontable th {
    color: #212529 !important;
    font-size: 12px;
    border-color: #bbb;
    border-right: 0;
    background: #fff;
    text-align: left;
}