body {
    background: white !important;
    font-size: 11px;
    font-family: Roboto, sans-serif;
}

p {
    margin: 0 !important;
}

@page {
    margin: 0;
}

.sym-form-submit .s-control-tracking-value,
.sym-form-submit .s-control-approval-history,
.sym-form-submit .s-control-report,
.sym-form-submit .s-control-file-upload,
.sym-form-submit .s-control-reset,
.sym-form-submit .s-control-draf,
.sym-form-submit .s-control-submit,
.sym-form-submit .s-control-text,
.sym-form-submit .s-control-select,
.sym-form-submit .s-control-document,
.sym-form-submit .s-control-phone,
.sym-form-submit .s-control-email,
.sym-form-submit .s-control-currency,
.sym-form-submit .s-control-radio,
.sym-form-submit .s-control-color,
.sym-form-submit .s-control-percent,
.sym-form-submit .s-control-hidden,
.sym-form-submit .s-control-user,
.sym-form-submit .s-control-filter,
.sym-form-submit .s-control-date,
.sym-form-submit .s-control-datetime,
.sym-form-submit .s-control-month,
.sym-form-submit .s-control-time,
.sym-form-submit .s-control-number {
    width: auto;
    height: 25px;
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid #e9ecef;
    font-family: Roboto, sans-serif;
    color: gray;
    padding: 0 5px;
    outline: 0!important;
}

.sym-form-submit .s-control:not(.s-control-table) {
    display: inline-block;
    /* background: rgb(233, 236, 239); */
    min-width: 50px;
    outline: none !important;
    margin: 1px
}

.s-control .s-control-rich-text {
    border: none;
}

.sym-form-submit .s-control-reset,
.sym-form-submit .s-control-draft,
.sym-form-submit .s-control-submit {
    padding: 5px 8px;
}

.sym-form-submit .s-control-user,
.sym-form-submit .s-control-select,
.sym-form-submit .s-control-document {
    width: 120px;
}

.sym-form-submit .s-control-error {
    border: 1px solid red !important;
}

.sym-form-submit .s-control-label {
    font-size: 11px;
    color: gray;
    border: 1px solid #e9ecef;
    padding: 4px 8px 4px 7px;
    border-radius: 4px;
    background: white;
}

.sym-form-submit .s-control-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 11px;
}

.sym-form-submit .error {
    background: red;
}

.highlight-history {
    background: #FFFF00 !important;
    opacity: 0.27;
}

.s-control-data-flow {
    border-left: 1px solid rgb(230, 230, 230);
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}

.s-control:not(.s-control-tab-page):not(.s-control-approval-history):not(.s-control-label):not(.s-control-submit):not(.s-control-draft):not(.s-control-reset):not(.s-control-file-upload):not(.s-control-table):not(.s-control-data-flow):not(.s-control-panel) {
    /*width: 100% !important;*/
    padding: 0 5px !important;
    background: transparent;
    box-shadow: none !important;
    /*border: none !important;*/
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 0.5px solid #ccc !important;
    border-radius: 0 !important;
    font-weight: normal;
}

.s-control-label {
    background: transparent;
    box-shadow: none !important;
    /*border: none !important;*/
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 0.5px solid #ccc;
    border-radius: 0 !important;
    font-weight: normal;
}

.s-control.s-control-panel {
    overflow-x: auto!important;
    position: relative;
    min-height: 20px;
    max-height: 550px;
    margin-bottom: 20px;
    border-radius: 5px !important;
    background: #fff;
    box-shadow: 0 3px 5px #aaa !important;
    overflow-y: auto !important;
}

.s-control:not(.detail-view):focus {
    background: rgb(233, 236, 239) !important;
}

input.s-control:not(.s-control-panel):not(.detail-view):hover {
    background: rgb(233, 236, 239) !important;
}

.handsontable td,
.handsontable th {
    color: #212529 !important;
    font-size: 12px;
    border-color: #bbb;
    border-right: 0;
    background: #fff;
    text-align: left;
}

.handsontable .upload-file-wrapper-inTb {
    display: flex;
    height: 100%;
}

.handsontable .upload-file-wrapper-inTb .file-add {
    width: 20px;
}

.handsontable .upload-file-wrapper-inTb .file-item {
    position: relative;
    margin-right: 8px;
}

.handsontable .upload-file-wrapper-inTb .file-item:hover .remove-file {
    display: block;
}

.handsontable .upload-file-wrapper-inTb .file-item .remove-file {
    position: absolute;
    top: -6px;
    right: -6px;
    background: white;
    height: 14px;
    width: 14px;
    font-size: 12px;
    border-radius: 50%;
    color: red;
    display: none;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.wrap-s-control-table {
    display: contents;
}

.s-control-approval-history {
    padding: 0 !important;
    width: 100% !important;
    border: none !important;
}

.s-control-approval-history .approved-item {
    height: 20px;
    line-height: 20px;
}

.ht_clone_top th {
    font-weight: 500;
}

.handsontable th.beforeHiddenColumn:after {
    display: none;
}

.run-dataflow {
    display: block;
    position: absolute;
    font-size: 19px;
    right: 6px;
    top: 4px;
    width: 30px;
    color: #409eff;
    background: rgba(0 0 0 / 0.05);
    border-radius: 4px;
    transition: background ease-in-out 250ms;
    -webkit-transition: background ease-in-out 250ms;
    -moz-transition: background ease-in-out 250ms;
    -ms-transition: background ease-in-out 250ms;
    -o-transition: background ease-in-out 250ms;
}

.run-dataflow:focus {
    outline: none;
}

.run-dataflow:hover {
    background: rgba(0 0 0 / 0.1);
}


/* 
.ht_master .wtHolder::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.ht_master .wtHolder::-webkit-scrollbar-track {
    background: #fff;
}

.ht_master .wtHolder::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
} */


/* .ht_clone_bottom.handsontable {
    bottom: 6px !important;
}

.ht_clone_bottom_left_corner.handsontable {
    bottom: 6px !important;
} */


/* Style the buttons inside the tab */

.tab button {
    background: transparent;
    float: left;
    border: none;
    outline: none;
    padding: 0px 10px;
    transition: 0.3s;
    font-size: 14px;
    height: 25px;
    border-radius: 4px;
    margin: 0 8px;
}

button {
    cursor: pointer;
}


/* Change background color of buttons on hover */

button:hover {
    background: rgba(0 0 0 / 0.1) !important;
}

.page-content-header {
    display: flex;
    margin-top: 6px;
}

.tab-active {
    background: rgba(0 0 0 / 0.05) !important;
}

.tabcontent {
    display: none;
    height: 100%;
    cursor: text;
}

.tabcontent:focus {
    outline: none;
}

.content-active {
    display: block !important;
}

.add-tab-btn {
    border: none;
    margin: 0 8px;
    border-radius: 4px;
    padding: 0 10px;
    height: 25px;
    transition: all ease-in-out 250ms;
}

.page-content-body {
    height: calc(100% - 50px);
    padding: 10px;
}

.page-header-action button {
    height: 25px;
    width: 100%;
    border: none;
    background: #f2f2f2;
    transition: all ease-in-out 250ms;
    margin-top: 6px;
}

.collapse-sidebar-btn {
    position: absolute;
    bottom: 6px;
    right: 0;
    border: none;
    background: rgba(0 0 0 / 0.05);
    height: 25px;
    width: 25px;
    border-radius: 4px;
}

.collapse-sidebar-btn:focus {
    outline: none;
}

.sidebar-page {
    background: #f2f2f2;
    height: 100%;
    width: 150px;
    position: relative;
    transition: all ease-in-out 250ms;
}

.page-content {
    height: 100%;
    width: 100%;
    display: none;
}

.list-page-content {
    height: 100%;
    width: 100%;
    background: white;
}

.list-page {
    height: calc(100% - 35px);
    padding: 2px;
    font-size: 13px;
}

.page-item {
    padding: 5px 4px;
    border-radius: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all ease-in-out 150ms;
}

.add-page-btn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sb-page-active {
    background: #077afe;
    color: white;
}

.page-active {
    display: block !important;
}

.collapse-sb {
    width: 30px;
}

.d-none {
    display: none;
}

.page-header-action {
    opacity: 0;
    user-select: none;
}

.add-tab-btn {
    display: none;
}