.symper-bg-orange{
    background-color: #f58634!important;
}

.symper-text-orange{
    color: #f58634!important;
}
.symper-bg-black{
    background-color: #344750!important;
}

.symper-text-black{
    color: #344750!important;
}

.fs-13{
    font-size: 13px;
}

.w-100{
    width: 100%;
}
